$padding-xs: 4px;
$padding-sm: 8px;
$padding-ms: 12px;
$padding-md: 16px;
$padding-ml: 20px;
$padding-lg: 24px;
$padding-xl: 32px;

$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-ms: 12px;
$border-radius-md: 16px;
$border-radius-ml: 20px;
$border-radius-lg: 24px;
$border-radius-xl: 32px;

$z-header: 100;
$z-modal: 1000;
